.form_search {
  width: 100%;
  margin-bottom: 10px;

  & input {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #5a5a5a;
    background-color: #3a3a3b;
    padding: 0 4px;
    font-size: 16.5px;
  }
}

.container_data {
  max-width: 1000px;
  min-width: none;
  margin: auto;
}
#container-table {
  width: 100%;
  overflow-x: auto;
}
.container_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  align-items: center;
}
table {
  font-size: 17px;
  text-align: center;
  width: 100%;
  background-color: #181818;
  border-collapse: collapse;
  border-radius: 5px;
  min-width: 320px;
  
  & thead {
    background-color: #000000;
    height: 47px;
    border-bottom: 1px solid rgb(235, 235, 235);
  }
  
  & tbody {
    & > tr {
      height: 45px;
      border-bottom: 0.5px solid #636363;

      & td {
        border: none;
      }
    }
    & > tr:hover {
      background-color: #4e4e4e;
    } 
  }
}

#titles_table {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}


#text_no_data {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: italic;
}