.form_search {
  width: 100%;
  margin-bottom: 10px;

  & input {
    width: 100%;
    height: 43px;
    border-radius: 7px;
    border: 1px solid #5a5a5a;
    background-color: #3a3a3b;
    padding: 0 4px;
    font-size: 16.5px;
    &::placeholder {
      color: rgb(231, 231, 231);
    }
    &:focus, &:focus-visible {
      outline: none;
      border: 1.5px solid rgb(62, 151, 235);
    }
  }

}

.container_data {
  max-width: 1000px;
  min-width: none;
  margin: auto;
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  align-items: center;
}


#text_no_data {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: italic;
}