#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-bottom: 30px;

  & > a {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    text-decoration: none;
    color: white;
    & > h4 {
      position: relative;
    }
  }
}

#form_file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;

  & input {
    display: none;
  }
}

label {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #c0392b;
  text-align: center;
  padding: 10px 40px;
  font-size: 17px;
  user-select: none;
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(0,0,0,0.35);
  border-radius: 3px;
  margin-bottom: 15px;
  transition: all 0.2s ease;

  &:hover {
    scale: 1.1;
  }
}